nav {
    width: 100%;
    background-color: #ccc;
    padding:30px 15px;
}
.container {
    width: 1200px;
    margin-inline: auto;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* background-color: #aaa; */
}
.nav-menu {
    margin-left: auto;
    display: flex;
    gap: 15px;
}
.nav-link {
    text-decoration: none;
    color: #000;
}
.nav-logo {
    text-decoration: none;
    color: #000;
}
header {
    width: 100%;
    /* height: 600px; */
    aspect-ratio: 16 / 9;
    background-color: rgb(214, 218, 13);
    position: relative;
}
h1 {
    font-size: 6rem;
}
header img {
    height: 100%;
    object-fit: cover;
}
.header-caption {
    position: absolute;
    width: 450px;
    height: fit-content;
    background-color: #ffffff65;
    backdrop-filter: blur(4px);
    color: #1d1d1d;
    inset:0;
    margin: auto;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
}
.header-caption p {
    margin-bottom: 20px;
}
.btn-blue {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #2558c5;
    padding:8px 30px;
    border-radius:5px;
}
.btn-red {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #c5253a;
    padding:8px 30px;
    border-radius:5px;
}

#about {
    padding-block: 150px;
}
.about-img {
    width: 60%;
    padding: 30px;
}
.about-img img {
    border-radius:15px;
}
.about-content {
    width: 40%;
    padding: 30px;
}
.about-content li {
    list-style-position: inside;
}
.about-content h2 {
    font-size: 3rem;
}
.about-content p {
    margin-block: 30px;
    line-height: 1.5rem;
}