html {
    scroll-behavior: smooth;
}
nav {
    width: 100%;
    background-color: #cccccc8e;
    padding:15px 15px;

    backdrop-filter: blur(8px);

    position: fixed;
    z-index: 9999;
    top:0;
}
.container {
    width: 1200px;
    margin-inline: auto;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* background-color: #aaa; */
    flex-wrap: wrap;
}
.nav-menu {
    margin-left: auto;
    display: flex;
    gap: 5px;
}
.nav-link {
    text-decoration: none;
    color: #000;
    padding: 10px 20px;

    transition: 600ms;
    border-radius: 5px;
}
.nav-link:hover {
    background-color: #333;
    color: #eee;
}
.nav-logo {
    text-decoration: none;
    color: #000;
}
header {
    width: 100%;
    /* height: 600px; */
    aspect-ratio: 16 / 9;
    background-color: rgb(214, 218, 13);
    position: relative;
}
h1 {
    opacity: 0;
    font-size: 6rem;
    animation: fadeIn 500ms 500ms forwards;
}
header img {
    height: 100%;
    object-fit: cover;
}
.header-caption {
    position: absolute;
    width: 450px;
    height: fit-content;
    background-color: #ffffff65;
    backdrop-filter: blur(4px);
    color: #1d1d1d;
    inset:0;
    margin: auto;
    padding: 30px;
    text-align: center;
    border-radius: 10px;

    animation: fadeIn 500ms;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.header-caption p {
    opacity: 0;
    margin-bottom: 20px;
    animation: fadeIn 500ms 1000ms forwards;
}
.header-caption .btn-red {
    opacity: 0;
    animation: fadeIn 500ms 1500ms forwards;
}
.btn {
    display: inline-block;
    text-decoration: none;
    color: #000;
    background-color: #ccc;
    padding:8px 30px;
    border-radius:5px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
}
.btn-blue {
    color: #fff;
    background-color: #2558c5;
    transition: 300ms;
}
.btn-blue:hover {
    background-color: #183981;
}
.btn-red {
    color: #fff;
    background-color: #c5253a;
    transition: 300ms;
}
.btn-red:hover {
    background-color: #811725;
}
#about {
    padding-block: 150px;
}
.about-img {
    width: 60%;
    padding: 30px;
}
.about-img img {
    border-radius:15px;
    box-shadow: 
        /* -10px 10px 0px 0px #5ddfff, */
        /* -20px 20px 0px 0px #ff5d80, */
        0px 0px 0px 0px #5dffa6;
    /* box-shadow: x y strength extened color */
    transition: 400ms 400ms;
}
.about-img:hover img {
    box-shadow:  -30px 30px 0px 0px #5dffa6;;
}
.about-content {
    width: 40%;
    padding: 30px;
}
.about-content li {
    list-style-position: inside;
}
.about-content h2 {
    font-size: 3rem;
    text-shadow: 2px 2px 0px #ff625d;
    color: #000000;
}
.about-content p {
    margin-block: 30px;
    line-height: 1.5rem;
}
.about-img-inner {
    position: relative;
}
.about-img-inner::after {
    content:'';
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 9;
    background-color: #0000006c;
    top:0;
    right: 0;
    border-radius: 50%;
    opacity: 0;
    transition: 400ms 600ms;
}
.about-img:hover .about-img-inner::after{
    opacity: 1;
    top: -80px;
    right: -90px;
}
/* .about-img-inner::after {
    content:'';
    display: block;
    border:5px solid #fa0;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius:15px;
    top: 30px;
    left: -30px
} */
.about-img-inner::before {
    content:'';
    display: block;
    border:5px solid transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius:15px;
    top: 0px;
    left: 0px;
    transition: 400ms;
}
.about-img:hover .about-img-inner::before{
    top: -30px;
    left: 30px;
    border:5px solid #002b47;
}
/* folio */
#folio {
    padding-block: 150px;
    background-color: #e4e0da;
}
#folio h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 3rem;
}
@keyframes imgIn {
    from {
        opacity: 0;
        scale: .7;
        rotate: 180deg;
    }
    to {
        opacity: 1;
        scale:1;
        rotate: 0deg;
    }
}
.folio-col {
    width: 300px;

    animation: imgIn linear;
    animation-timeline: view();
    animation-range: 0 50%;

}
/* https://colorhunt.co/palette/fefaf6eadbc8dac0a3102c57 */

#contact {
    padding-block: 150px
}
#contact h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 3rem;
}
#contact .container {
    justify-content: center;
}
.contact-col {
    width: 600px;
}
.form-control {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #333;
    outline:0;

    transition: 500ms;
    caret-color: #c5253a;
    accent-color: #c5253a;
}
.form-control:focus {
    border: 1px solid #c5253a;
    background-color: #ffd2d2;
    padding: 15px;
}
.form-group {
    margin-bottom: 25px;
}
.form-label {
    display: block;
    margin-bottom: 5px;
}

footer {
    padding: 20px;
    background-color: #222;
    color: #eee;
    text-align: center;
}